In [1]:
import numpy as np
import pandas as pd

In [4]:
def make_df(cols, ind):
    '''一个简单的DataFrame创建函数'''
    data = {c: [str(c) + str(i) for i in ind] for c in cols}
    return pd.DataFrame(data,ind)
make_df('ABC', range(4))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
3  A3  B3  C3

pd.concat()可以简单的合并一维的Series或dataFrame吗与 np.concat()合并数组一样

In [5]:
ser1 = pd.Series(['A', 'B', 'C'], index = [1,2 ,3])
ser2 = pd.Series(['D', 'E',  'F'], index = [4,5,6])

In [11]:
df1 = make_df('AB',[1,2])
df2 = make_df('AB',[3,4])
print(df1);print('\n');
print(df2);print('\n')
print(pd.concat([df1,df2]))

    A   B
1  A1  B1
2  A2  B2


    A   B
3  A3  B3
4  A4  B4


    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [12]:
df3 = make_df('AB', [0,1])
df4 = make_df('CD', [0,1])

In [13]:
df3

    A   B
0  A0  B0
1  A1  B1

In [14]:
df4

    C   D
0  C0  D0
1  C1  D1

In [16]:
pd.concat([df3,df4] ,axis= 1)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1

1.索引重复

In [17]:
#ignore_index用来忽略重复的索引

In [18]:
x  = make_df('AB', [0,1])
y  = make_df('AB', [2,3])
y.index = x.index#复制索引

In [19]:
x

    A   B
0  A0  B0
1  A1  B1

In [20]:
y

    A   B
0  A2  B2
1  A3  B3

In [21]:
pd.concat([x,y])

    A   B
0  A0  B0
1  A1  B1
0  A2  B2
1  A3  B3

In [22]:
#这里就有重复的索引

In [23]:
pd.concat([x,y], keys=['x','y'],ignore_index=True)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3